@{
    ViewData["Title"] = "Préstamo > Detalle";
}

@model Domain.Entities.IM253E01Prestamo

<dl>
    <dt>Id</dt>
    <dd>@Model.Id</dd>

    <dt>Empleado</dt>
    <dd>@Model.Usuario?.Nombre ?? "No especificado"</dd>
    
    <dt>Empleado Id</dt>
    <dd>@Model.UsuarioId</dd>

    <dt>Edad del Usuario</dt>
    <dd>@(Model.Usuario?.Edad.ToString() ?? "No especificado")</dd>

    <dt>Foto del Usuario</dt>
    <dd>
        @if (Model.Usuario?.Foto != null)
        {
            <img src="@Model.Usuario.Foto" alt="Foto del usuario" />
        }
        else
        {
            <span>No disponible</span>
        }
    </dd>

    <dt>Libro</dt>
    <dd>@Model.Libro?.Titulo ?? "No especificado"</dd>

    <dt>Libro Id</dt>
    <dd>@Model.LibroId</dd>


    <dt>Fecha de Préstamo</dt>
    <dd>@(Model.FechaPrestamo.ToShortDateString())</dd> <!-- Cambiado de Model.Fecha a Model.FechaPrestamo -->
</dl>

<a asp-action="Index" class="btn btn-danger mt-3">Regresar</a>
